[submodule "blink1-tool"]
	path = blink1-tool
	url = git@github.com:todbot/blink1-tool.git
[submodule "pugixml"]
	path = pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "Maybe.h"]
	path = Maybe.h
	url = git@github.com:evan1026/Maybe.h.git
